/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #ff6600;
    border-radius: 5px;
}

nav a:hover {
    background-color: #e65c00;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #333;
}

/* Card styles */
.card {
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    max-width: 1200px; /* กำหนดความกว้างสูงสุดของ container */
    margin: 20px auto; /* จัดให้อยู่ตรงกลาง */
    padding: 50px 20px; /* เพิ่มระยะห่างด้านซ้ายและขวา */
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .card-content {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%; /* เพื่อให้คอนเทนต์ยืดเต็มความกว้างของการ์ด */
  }
  
  .icon-image {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* ทำให้รูปภาพเป็นวงกลม */
    object-fit: cover; /* ครอบภาพให้พอดีในวงกลม */
  }
  
  /* Text styles */
  span {
    font-size: 18px;
    color: #333;
  }
  
  /* Button styles */
  .action-button {
    margin-left: auto; /* ดันปุ่มไปด้านขวาสุด */
    background-color: #efb30e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease, transform 0.2s ease;
  }
  
  .action-button:hover {
    background-color: #b1860d;
    transform: scale(1.05);
  }

